@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desde)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Desde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Hasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-2">
            @if(Model.Estado){
                <p>Vigente</p>
            }else{
                <p>Vencido</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensualidad)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Mensualidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InmuebleId)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.InmuebleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InquilinoId)
        </dt>
        <dd class = "col-sm-2">
            <p>@Model.Arrendatario.ToString()</p>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-pen-to-square" style="color: #25CED1;"></i></a>&nbsp;|
    <a asp-action="Index">Volver a la lista</a> |
    @Html.ActionLink("Pagos asociados","Index","Pago",new {id = Model.Id})
</div>
