@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Contrato";
}
<div>
    <a asp-action="Index" style="text-decoration: none; padding-right:8px; border-right:1px solid #000 ; margin-right: 8px;"><i class="fa-solid fa-arrow-left"></i> Volver a la lista</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" style="text-decoration: none; padding-right:8px; border-right:1px solid #000 ; margin-right: 8px;"><i class="fa-solid fa-user-pen" style="color: #25CED1;"></i> Editar</a>
    <a asp-action="Renovar" asp-route-id="@Model.Id" style="text-decoration: none;" class="btn btn-warning">Renovar contrato por otro año</a>
    <a asp-action="Cancelar" asp-route-id="@Model.Id" style="text-decoration: none;" class="btn btn-danger">Terminar contrato</a>
</div>

<h3>Contrato</h3>

@if(ViewBag.Exito == 1){
    <div class="alert alert-info alert-dismissible" role="alert">
       <div>@ViewBag.Mensaje</div>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}else if(ViewBag.Exito == 0){
    <div class="alert alert-danger alert-dismissible" role="alert">
       <div>@ViewBag.Mensaje</div>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<span>Inquilino: </span>
<a asp-controller="Inquilino" asp-action="Details" asp-route-id="@Model.InquilinoId">@Html.DisplayFor(model => model.Arrendatario.Nombre) @Html.DisplayFor(model => model.Arrendatario.Apellido)</a> &nbsp;
<span>@Html.DisplayFor(model => model.Arrendatario.Correo)</span>&nbsp;
<span>Telefono: @Html.DisplayFor(model => model.Arrendatario.Telefono)</span>

<a asp-controller="Inmueble" asp-action="Details" asp-route-id="@Model.InmuebleId">Ver Inmueble</a> &nbsp;
<div>
    
<div class="container">
    <hr>
    <div class="row">
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Id)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Id)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Desde)</h5>
        <p class="col-md-2">@Html.DisplayFor(model => model.Desde)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Hasta)</h5>
        <p class="col-md-2">@Html.DisplayFor(model => model.Hasta)</p>
        <h5 class="col-md-2">@Html.DisplayNameFor(model => model.Mensualidad)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Mensualidad)</p>
    </div>
</div>
<div>
    @Html.ActionLink("Ver pagos asociados","Index","Pago",new {id = Model.Id})
</div>