@model IEnumerable<Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Listado";
    IList<Inmueble> inmuebles = (IList<Inmueble>) ViewBag.Inmuebles;
    IList<Inquilino> inquilinos = (IList<Inquilino>) ViewBag.Inquilinos;
}

<h1>Lista de contratos</h1>

<p>
    <a asp-action="Create"><i class="fa-solid fa-plus"></i>&nbsp; Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensualidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hasta)
            </td>
            <td>
                @if(item.Estado){
                    <p>Vigente</p>
                }else{
                    <p>Vencido</p>
                }
            </td>
            <td>
               <p>$@Html.DisplayFor(modelItem => item.Mensualidad)</p> 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square" style="color: #25CED1;"></i></a>&nbsp;|
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info" ></i></a>&nbsp;
                @if(User.IsInRole("Administrador")){
                    <p style="display:inline-block;">| </p>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="color: #EA526F;"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
