@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Contrato";
    var listaInquilinos = (List<Inquilino>)ViewBag.Inquilinos;
    var listaInmuebles = (List<Inmueble>)ViewBag.Inmuebles;
}

<div>
    <a asp-action="Index" style="text-decoration: none;"><i class="fa-solid fa-arrow-left"></i> Volver a la lista</a>
</div>
<h1>Registrar contrato</h1>
<p>Seleccione las fechas de vigencia del contrato</p>
@* <form asp-action="Nuevo" style="display: inline-block; margin-left:10px;">
    <div style="display: inline-block; margin-left:10px;">
        <div style="display: flex;">
            <div style="padding: 3px 9px; border:none; border-radius:5px 0px 0px 5px; background-color:#5c636a;">
                <p style="margin: 0; padding:0; color:#fff;">Desde</p>
            </div>
            <input type="datetime-local" name="Desde" id="desde">
        </div>
    </div>

    <div style="display: inline-block; margin-left:10px;">
        <div style="display: flex;">
            <div style="padding: 3px 9px; border:none; border-radius:5px 0px 0px 5px; background-color:#5c636a;">
                <p style="margin: 0; padding:0; color:#fff;">Hasta</p>
            </div>
            <input type="datetime-local" name="Hasta" id="hasta">
        </div>
    </div>

    <input type="submit" value="Buscar" class="btn btn-info" />

</form> *@

@if(ViewBag.Exito == 1){
    <div class="alert alert-info alert-dismissible" role="alert">
       <div>@ViewBag.Mensaje</div>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}else if(ViewBag.Exito == 0){
    <div class="alert alert-danger alert-dismissible" role="alert">
       <div>@ViewBag.Mensaje</div>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<hr>
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Desde" class="control-label"></label>
                <input asp-for="Desde" type="datetime-local" class="form-control" value="@ViewBag.Desde"/>
                <span asp-validation-for="Desde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hasta" class="control-label"></label>
                <input asp-for="Hasta" type="datetime-local" class="form-control" value="@ViewBag.Hasta"/>
                <span asp-validation-for="Hasta" class="text-danger"></span>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Mensualidad" class="control-label"></label>
                <input asp-for="Mensualidad" class="form-control" />
                <span asp-validation-for="Mensualidad" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <select asp-for="InmuebleId" class="form-control">
                    @foreach (var item in listaInmuebles)
                    {
                        <option value="@item.Id">@item.Id | @item.Direccion</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="InquilinoId"></label>
                <select asp-for="InquilinoId" class="form-control">
                    @foreach (var item in listaInquilinos)
                    {
                        <option value="@item.Id">@item.ToString()</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Crear" class="btn btn-primary" />
    </div>
</form>