@model IEnumerable<Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<h3 style="display: inline-block;">Contratos</h3>

<a asp-action="Create" style="display: inline-block; margin-left:10px;">
    <div style="display: flex;">
        <button class="btn-info" style="padding: 3px 9px; border:none; border-radius:5px 0px 0px 5px; background-color:#5c636a;"><i class="fa-solid fa-plus" style="color: #FFFFFF;"></i></button>
    <button class="btn-info" style="padding: 3px; border:none; border-radius:0px 5px 5px 0px; margin:0;">
        <p style="display: inline-block; padding:0px 4px 0px 3px; margin:0;">Crear Nuevo</p>
    </button>
    </div>
</a>

<a asp-action="Vigentes" style="display: inline-block; margin-left:10px;">
    <div style="display: flex;">
        <button class="btn-info" style="padding: 3px 9px; border:none; border-radius:5px 0px 0px 5px; background-color:#5c636a;"><i class="fa-solid fa-check" style="color: #ffffff;"></i></button>
    <button class="btn-warning" style="padding: 3px; border:none; border-radius:0px 5px 5px 0px; margin:0;">
        <p style="display: inline-block; padding:0px 4px 0px 3px; margin:0;">Vigentes</p>
    </button>
    </div>
</a>

@if(ViewBag.Exito == 1){
    <div class="alert alert-info alert-dismissible" role="alert">
       <div>@ViewBag.Mensaje</div>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}else if(ViewBag.Exito == 0){
    <div class="alert alert-danger alert-dismissible" role="alert">
       <div>@ViewBag.Mensaje</div>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<hr>

<div class="container mt-3">
    <div style="width: 100%; margin:auto; background-color:#fff; border-radius: 15px; padding:7px 20px; border:1px solid #5c636a;">
        <div class="thead row" style="border-bottom: 1px solid #000f; padding: 0px 0px 5px 0px; display: flex; justify-content: center;">
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Id)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Desde)
            </div>
            <div class="col-md-1" style="display: flex; justify-content:center;">
                @Html.DisplayNameFor(model => model.Hasta)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Estado)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Mensualidad)
            </div>
            <div class="col-md-2" style="text-align: center;">
                @Html.DisplayNameFor(model => model.InmuebleId)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.InquilinoId)
            </div>
            <div class="col-md-2" style="display: flex; justify-content:center;">
                <p style="display: inline-block; margin:0;">Operaciones</p>
            </div>
            <div class="col-md-1" style="display: flex; justify-content:center;">
                <p style="display: inline-block; margin:0;">Acciones</p>
            </div>
        </div>
        @foreach (var item in Model){
            <div class="thead row" style="display: flex; justify-content: center; padding: 10px 0px 10px 0px">
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Id)
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Desde.Day)/@Html.DisplayFor(modelItem => item.Desde.Month)/@Html.DisplayFor(modelItem => item.Desde.Year)
                </div>
                <div class="col-md-1" style="display: flex; justify-content:center; align-content:center;">
                    @Html.DisplayFor(modelItem => item.Hasta.Day)/@Html.DisplayFor(modelItem => item.Hasta.Month)/@Html.DisplayFor(modelItem => item.Hasta.Year)
                </div>
                <div class="col-md-1" style="display: flex; justify-content:center; align-content:center;">
                @if(item.Estado){
                    <p>Vigente</p>
                }else{
                    <p>Vencido</p>
                }
                </div>
                <div class="col-md-1">
                    $@Html.DisplayFor(modelItem => item.Mensualidad)
                </div>
                <div class="col-md-2" style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Bien.Id) - @Html.DisplayFor(modelItem => item.Bien.Direccion)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Arrendatario.Apellido)
                    @Html.DisplayFor(modelItem => item.Arrendatario.Nombre)
                </div>
                    <div class="col-md-2" style="display: flex; justify-content:center;">
                        <div style="display: flex; justify-content:space-around; width:100%;">
                            <a asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fa-solid fa-user-pen" style="color: #25CED1;"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <i class="fa-solid fa-circle-info" ></i>
                            </a>
                            @if(User.IsInRole("Administrador")){
                                <a asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-trash" style="color: #EA526F;"></i>
                                </a>
                            }
                    </div>
                </div>
                <div class="col-md-1" style="display: flex; justify-content:center;">
                    <a asp-controller="Pago" asp-action="Index" asp-route-id="@item.Id" class="btn btn-success" style="padding:2px 7px;">Pagos</a>
                </div>
            </div>
        }
    </div>
</div>

