@model IEnumerable<Inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
    IDictionary<int,string> usos = (IDictionary<int,string>) ViewBag.Usos;
    IDictionary<int,string> tipos = (IDictionary<int,string>) ViewBag.Tipos;
}

<h3 style="display: inline-block;">Inmuebles</h3>

<div class="container mt-3">
    <div style="width: 100%; margin:auto; background-color:#fff; border-radius: 15px; padding:7px 20px; border:1px solid #5c636a;">
        <div class="thead row" style="border-bottom: 1px solid #000f; padding: 0px 0px 5px 0px">
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Id)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Uso)
            </div>
            <div class="col-md-1" style="display: flex; justify-content:center;">
                @Html.DisplayNameFor(model => model.Tipo)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Disponible)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Direccion)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Precio)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.PropietarioId)
            </div>
            <div class="col-md-2" style="display: flex; justify-content:center;">
                <p style="display: inline-block; margin:0;">Operaciones</p>
            </div>
            <div class="col-md-1" style="display: flex; justify-content:center;">
                <p style="display: inline-block; margin:0;">Acciones</p>
            </div>
        </div>
        @foreach (var item in Model){
            <div class="thead row" style="display: flex; justify-content: center; padding: 10px 0px 10px 0px">
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Id)
                </div>
                <div class="col-md-1">
                    @usos[(int)item.Uso]
                </div>
                <div class="col-md-1" style="display: flex; justify-content:center;">
                    @tipos[(int)item.Tipo]
                </div>
                <div class="col-md-1">
                @if((bool)item.Disponible == true){
                     <p>Disponible</p>
                }else{
                    <p>No Disponible</p>
                }
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Direccion)
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(modelItem => item.Precio)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Duenio.Apellido)
                @Html.DisplayFor(modelItem => item.Duenio.Nombre)
            </div>
                <div class="col-md-2" style="display: flex; justify-content:center;">
                    <div style="display: flex; justify-content:space-around; width:100%;">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-user-pen" style="color: #25CED1;"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <i class="fa-solid fa-circle-info" ></i>
                        </a>
                        @if(User.IsInRole("Administrador")){
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fa-solid fa-trash" style="color: #EA526F;"></i>
                            </a>
                        }
                    </div>
                </div>
                <div class="col-md-1" style="display: flex; justify-content:center;">
                    <a asp-controller="Listados" asp-action="Index" asp-route-id="@item.Id" class="btn btn-success" style="padding:2px 7px;">Contratos</a>
                </div>
            </div>
        }
    </div>
</div>