@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Eliminar";
    IDictionary<int,string> usos = (IDictionary<int,string>) ViewBag.Usos;
    IDictionary<int,string> tipos = (IDictionary<int,string>) ViewBag.Tipos;
}

<h3>Inmueble</h3>
<span>@Html.DisplayFor(model => model.Duenio.Nombre) @Html.DisplayFor(model => model.Duenio.Apellido)</span> &nbsp;
<span>@Html.DisplayFor(model => model.Duenio.Correo)</span>&nbsp;
<span>Telefono: @Html.DisplayFor(model => model.Duenio.Telefono)</span>
<div>
    
<div class="container">
    <hr>
    <div class="row">
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Id)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Id)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Precio)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Precio)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Uso)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => @usos[(int)Model.Uso])</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Tipo)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => @tipos[(int) Model.Tipo])</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Ambientes)</h5>
        <p class="col-md-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model =>model.Ambientes)</p>
    </div>
    <div class="row">
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Disponible)</h5>
        <p class="col-md-2">
            @if(Model.Disponible == true){
                <span>Disponible</span>
            }else{
                <span>No Disponible</span>
            }
        </p>
    </div>
    <hr>
    <div class="row">
        <h4>Ubicación</h4>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Direccion)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Direccion)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Lat)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Lat)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Lng)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Lng)</p>
    </div>
    <hr>
</div>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>
</div>
