@model IEnumerable<Inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Listado";
    IDictionary<int,string> usos = (IDictionary<int,string>) ViewBag.Usos;
    IDictionary<int,string> tipos = (IDictionary<int,string>) ViewBag.Tipos;
}

<h1>Listado de propiedades</h1>

<p>
    <a asp-action="Create"><i class="fa-solid fa-plus"></i>&nbsp; Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @usos[(int)item.Uso]
            </td>
            <td>
                @tipos[(int)item.Tipo]
            </td>
            <td>
                @if((bool)item.Disponible == true){
                     <p>Disponible</p>
                }else{
                    <p>No Disponible</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duenio.Apellido)
                @Html.DisplayFor(modelItem => item.Duenio.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square" style="color: #25CED1;"></i></a>&nbsp;|
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info" ></i></a>&nbsp;
                @if(User.IsInRole("Administrador")){
                    <p style="display:inline-block;">| </p>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="color: #EA526F;"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
