@model Inmobiliaria.Models.Inquilino

@{
    ViewData["Title"] = "Inquilino";
}



<div>
    <a asp-action="Index" style="text-decoration: none; padding-right:8px; margin-right: 8px;"><i class="fa-solid fa-arrow-left"></i> Volver a la lista</a>
</div>
<h1>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</h1>
<h5>Inquilino</h5>
@if(ViewBag.Exito == 0){
    <div class="alert alert-danger alert-dismissible" role="alert">
       <div>@ViewBag.Mensaje</div>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container">
    <hr>
    <div class="row">
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Id)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Id)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Apellido)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Apellido)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Nombre)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Nombre)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Dni)</h5>
        <p class="col-md-1">@Html.DisplayFor(model => model.Dni)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Estado)</h5>
        @if(Model.Estado == true){
                <p class="col-md-1">Activo</p>
            }else{
                <p class="col-md-1">Inactivo</p>
            }
    </div>
    <hr>
    <div class="row">
        <h4>Contacto</h4>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Telefono)</h5>
        <p class="col-md-3">@Html.DisplayFor(model => model.Telefono)</p>
        <h5 class="col-md-1">@Html.DisplayNameFor(model => model.Correo)</h5>
        <p class="col-md-3">@Html.DisplayFor(model => model.Correo)</p>
    </div>
    <hr>
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>
</div>
