@model Inmobiliaria.Models.Usuario

@{
    ViewData["Title"] = "Detalles de usuario";
}

<div>
    <h2>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</h2>
    <hr />
    
    <div class="row">
        <div class="col-md-2">
           @if(Model.Avatar!=""){
                <div class = "col-sm-12">
                    <img src="@Model.Avatar" alt="Avatar Foto" class="img-thumbnail rounded-circle">
                </div>
            }else{
                <div class = "col-sm-12">
                    <img src="/Uploads\base.png" alt="Avatar" style="width: 200px; heigh:200px;" class="img-thumbnail rounded-circle">
                </div>
            } 
        </div>
        <div class="col-md-10">
            <dl class="row ">
                <dt class = "col-sm-3">
                    Rol del empleado
                </dt>
                <dd class = "col-sm-3">
                    @Html.DisplayFor(model => model.RolNombre)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Dni)
                </dt>
                <dd class = "col-sm-3">
                    @Html.DisplayFor(model => model.Dni)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd class = "col-sm-3">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Correo)
                </dt>
                <dd class = "col-sm-3">
                    @Html.DisplayFor(model => model.Correo)
                </dd>
            </dl>
            
        </div>
    </div>
    <div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-user-pen" style="color: #25CED1;"></i></a>&nbsp;|
            <a asp-action="Index">Back to List</a> 
        </div>
    </div>
</div>

