@model IEnumerable<Inmobiliaria.Models.Usuario>

@{
    ViewData["Title"] = "Menu de Usuarios";
}

<h1>Gestion de usuarios</h1>

<p>
    <a asp-action="Create"><i class="fa-solid fa-plus"></i>&nbsp;Crear nuevo</a>
</p>
<table class="table text-center">
    <thead>
        <tr>
            <th></th>
            <th>
                Usuario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td> @if(item.Avatar!=""){
                    <img src="@Html.DisplayFor(modelItem => item.Avatar)" alt="Avatar" style="width: 45px; heigh:45px;" class="img-thumbnail rounded-circle"> 
                }else{
                    <img src="/Uploads\base.png" alt="Avatar" style="width: 45px; heigh:45px;" class="img-thumbnail rounded-circle">
                }</td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-user-pen" style="color: #25CED1;"></i></a>&nbsp;|
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info" ></i></a>&nbsp;|
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="color: #EA526F;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
